$color-black: #000000;
$color-white: #ffffff;
$color-gray: #212834;
$color-blue: #605cea;
$color-pink: #fa00ff;
$font-family-1: "Montserrat", sans-serif;
$font-family-2: "Noto Sans", sans-serif;

%container {
    max-width: 1440px;
    margin: auto;
    padding: 0 100px;

    @media (max-width: 1280px) {
        padding: 0 50px;
    }

    @media (max-width: 1024px) {
        padding: 0 20px;
    }

    @media (max-width: 768px) {
        padding: 0 10px;
    }
}

%title {
    font-family: $font-family-1;
    font-weight: 700;
    font-size: 51px;
    line-height: 62px;

    @media (max-width: 600px) {
        font-size: 24px;
        line-height: 29px;
    }
}

%text {
    font-family: $font-family-2;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    @media (max-width: 600px) {
        font-size: 16px;
        line-height: 22px;
    }
}

%shadow {
    background: linear-gradient(12.08deg, #f101bd41 2.82%, #0066ff41 97.06%);
    filter: blur(125px);
}

body {
    background-color: $color-black;
    box-sizing: border-box;
    color: $color-white;
}

.header {
    @extend %container;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% / 12 * 4);
        position: relative;

        @media (max-width: 1280px) {
            width: calc(100% / 12 * 5);
        }

        @media (max-width: 1024px) {
            width: calc(100% / 12 * 12);
            padding-top: 20px;
        }
    }

    &__logo {
        display: flex;
        align-items: center;

        &_icon {
            @media (max-width: 768px) {
                width: 60px;
                height: 60px;
            }

            @media (max-width: 600px) {
                width: 52px;
                height: 52px;
            }
        }

        &_text {
            font-size: 36px;
            font-weight: 700;
            font-family: $font-family-1;

            @media (max-width: 768px) {
                font-size: 26px;
                font-weight: 600;
            }
        }
    }

    &__login {
        display: flex;
        align-items: center;

        &_link {
            @extend %text;
            margin-left: 7px;
            padding-bottom: 3px;
            cursor: pointer;

            &:hover {
                border-bottom: 1px solid;
            }
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-bottom: 100px;

        &_image {
            padding-right: 35px;

            &-shadow {
                position: absolute;
                top: -50px;
                right: -200px;
                width: 700px;
                height: 500px;
                border-radius: 50%;
                background: #fb00ff2d;
                filter: blur(100px);
                z-index: -1;

                @media (max-width: 600px) {
                    right: -100px;
                }
            }

            @media (max-width: 1024px) {
                position: relative;
                right: -20px;
                padding-right: 0;
                scale: 0.9;
            }

            @media (max-width: 768px) {
                position: relative;
                right: -400px;
                padding-right: 0px;
                scale: 0.9;
            }

            @media (max-width: 600px) {
                position: relative;
                right: -320px;
                padding-right: 0px;
                scale: 0.8;
            }

            @media (max-width: 500px) {
                position: relative;
                right: -270px;
            }

            @media (max-width: 425px) {
                position: relative;
                right: -190px;
                scale: 0.6;
            }
        }

        &_text {
            display: flex;
            flex-direction: column;

            &-title {
                font-family: $font-family-1;
                font-size: 64px;
                font-weight: 700;

                @media (max-width: 768px) {
                    font-size: 48px;
                    line-height: 40px;
                }

                @media (max-width: 600px) {
                    font-size: 30px;
                    line-height: 34px;
                }
            }

            &-about-us {
                display: flex;
                align-items: flex-end;
                font-family: $font-family-2;
                font-weight: 400;
                font-size: 20px;
                line-height: 27px;
                padding-top: 100px;
                position: relative;

                &-width {
                    padding-left: 50px;
                    width: calc(100% / 12 * 8);

                    @media (max-width: 768px) {
                        padding-left: 0px;
                        width: calc(100% / 12 * 10);
                    }

                    @media (max-width: 600px) {
                        width: 100%;
                    }
                }

                &-shadow {
                    position: absolute;
                    width: 125px;
                    height: 125px;
                    left: -30px;
                    top: 60px;
                    z-index: -1;
                    background: rgba(96, 92, 234, 0.5);
                    filter: blur(50px);

                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                @media (max-width: 768px) {
                    padding-top: 40px;
                }

                @media (max-width: 600px) {
                    font-size: 16px;
                    line-height: 22px;
                    padding-top: 20px;
                }
            }

            &-line {
                width: calc(100% / 12 * 1);
                height: 120px;
                background-image: linear-gradient(
                    to bottom right,
                    transparent 45%,
                    $color-white,
                    transparent 52%
                );

                @media (max-width: 768px) {
                    display: none;
                }
            }

            @media (max-width: 768px) {
                position: absolute;
                width: calc(100% / 12 * 7);
                z-index: 5;
            }
        }

        @media (max-width: 600px) {
            padding-bottom: 0;
            top: -50px;
        }
    }

    @media (max-width: 768px) {
        overflow: hidden;
    }
}

.section__download {
    display: flex;
    justify-content: space-between;
    font-family: $font-family-1;
    font-weight: 700;
    font-size: 36px;
    line-height: 70px;

    button {
        background-color: #00000000;
        border: none;
        cursor: pointer;
    }

    &_images {
        &-padding {
            padding-right: 10px;

            @media (max-width: 600px) {
                padding-right: 0px;
            }
        }

        @media (max-width: 425px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    @media (max-width: 940px) {
        flex-direction: column;
        text-align: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        gap: 20px;
        position: relative;
        top: -50px;
    }

    @media (max-width: 425px) {
        top: -100px;
    }
}

.cookies {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    bottom: 20px;
    background-color: $color-gray;
    padding: 20px 0;
    opacity: 0;
    animation: ani 1.5s forwards;

    @keyframes ani {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .section__cookies {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-family-2;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;

        &_button {
            background-color: rgba(255, 255, 255, 0.1);
            color: $color-white;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            padding: 20px 60px;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.5);
                color: $color-black;
            }

            @media (max-width: 768px) {
                padding: 15px 30px;
            }
        }

        @media (max-width: 768px) {
            gap: 15px;
        }
    }

    @media (max-width: 768px) {
        max-width: 768px;
    }
}

.section__contact {
    @extend %container;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
    font-family: $font-family-2;

    &_container {
        border: 1px solid $color-white;
        border-radius: 10px;
        width: calc(100% / 12 * 5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 60px 50px;
        margin: 100px 0;

        @media (max-width: 768px) {
            width: calc(100% / 12 * 9);
            padding: 40px 30px;
            margin: auto;
        }

        @media (max-width: 425px) {
            margin: 20px 0;
            width: calc(100% / 12 * 12);
            padding: 50px 40px;
            box-sizing: border-box;
        }
    }

    &_text {
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;

        @media (max-width: 768px) {
            font-size: 24px;
            line-height: 33px;
        }
    }

    &_link {
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        text-decoration: underline;
        cursor: pointer;
        padding-top: 40px;

        &:hover {
            color: rgba(255, 255, 255, 0.5);
        }

        @media (max-width: 768px) {
            font-size: 18px;
            line-height: 25px;
        }
    }

    @media (max-width: 425px) {
        gap: 30px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
    }

    @media (max-width: 425px) {
        gap: 10px;
    }
}

.mission {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    &__image {
        scale: 1.3;
        rotate: 90deg;

        @media (max-width: 1180px) {
            scale: 1.1;
        }

        @media (max-width: 1110px) {
            scale: 1;
            position: relative;
            right: 100px;
        }

        @media (max-width: 1024px) {
            scale: 1;
            position: relative;
            right: 130px;
        }

        @media (max-width: 768px) {
            scale: 0.8;
            rotate: 0deg;
            right: 0px;
        }

        @media (max-width: 425px) {
            scale: 0.7;
            rotate: 0deg;
        }
    }

    &__text {
        position: relative;
        padding-right: 100px;
        padding-bottom: 100px;

        &-title {
            width: 350px;
            @extend %title;

            @media (max-width: 1024px) {
                width: 100%;
            }

            @media (max-width: 768px) {
                text-align: center;
                width: 80%;
            }

            @media (max-width: 425px) {
                text-align: left;
                width: 100%;
            }
        }

        &-shadow {
            position: absolute;
            width: 70px;
            height: 70px;
            right: 170;
            top: 0;
            border-radius: 50%;
            background: $color-pink;
            filter: blur(50px);
            z-index: -1;

            @media (max-width: 425px) {
                left: 0;
            }
        }

        &-info {
            width: 315px;
            @extend %text;
            padding-top: 20px;

            @media (max-width: 768px) {
                width: 100%;
                text-align: left;
            }
        }

        @media (max-width: 1024px) {
            padding-left: 70px;
            padding-bottom: 20px;
            position: relative;
            right: 0;
            width: calc(100% / 12 * 5);
        }

        @media (max-width: 768px) {
            width: calc(100% / 12 * 10);
            padding-right: 0;
            padding-bottom: 20px;
            padding-left: 0px;
        }

        @media (max-width: 425px) {
            width: calc(100% / 12 * 12);
            padding-bottom: 50px;
        }
    }

    @media (max-width: 768px) {
        padding-top: 100px;
        flex-direction: column-reverse;
        box-sizing: border-box;
    }
}

.background {
    position: relative;

    &-image {
        width: 100%;
    }

    &-shadow {
        position: absolute;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0) 40%,
            rgba(0, 0, 0, 0.9) 100%
        );
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 0;
        height: 100%;
    }
}

.IDscanner {
    &__content {
        @extend %container;
        display: flex;
        justify-content: space-between;

        &_image {
            display: flex;
            gap: 40px;
            position: relative;
            bottom: 400px;

            @media (max-width: 1140px) {
                scale: 0.9;
                gap: 20px;
            }

            @media (max-width: 1024px) {
                scale: 0.8;
                gap: 20px;
                left: -50px;
            }

            @media (max-width: 990px) {
                justify-content: center;
                bottom: 10px;
                align-self: center;
                left: 0;
            }

            @media (max-width: 768px) {
                justify-content: center;
                scale: 0.6;
                position: relative;
                bottom: 110px;
                align-self: center;
            }

            @media (max-width: 500px) {
                scale: 0.5;
            }

            @media (max-width: 425px) {
                flex-direction: column;
                scale: 0.7;
                bottom: 170px;
            }
        }

        &_text {
            width: 316px;

            &-title {
                @extend %title;
            }

            &-info {
                @extend %text;
                padding-top: 20px;
            }

            @media (max-width: 1024px) {
                width: 100%;
            }

            @media (max-width: 768px) {
                text-align: end;
                width: 80%;
            }

            @media (max-width: 425px) {
                width: 100%;
            }
        }

        @media (max-width: 990px) {
            flex-direction: column-reverse;
            align-items: flex-end;
        }
    }

    @media (max-width: 768px) {
        overflow: hidden;
    }
}

.BITool {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -200px;

    &__info {
        &_shadow {
            @extend %shadow;
            width: 300px;
            height: 300px;
            position: absolute;
            z-index: -1;
        }

        &_title {
            width: 495px;
            @extend %title;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        &_text {
            width: 395px;
            @extend %text;
            padding-top: 20px;

            @media (max-width: 768px) {
                width: 80%;
            }

            @media (max-width: 425px) {
                width: 100%;
            }
        }

        @media (max-width: 768px) {
            padding-bottom: 30px;
            padding-top: 50px;
        }
    }

    &__diagrams {
        position: relative;
        height: 510px;
        width: 100%;

        &_image {
            position: absolute;

            &-1 {
                top: 0;
                right: 150px;

                @media (max-width: 600px) {
                    top: 0;
                    left: 100px;
                }

                @media (max-width: 425px) {
                    scale: 0.7;
                    top: 200px;
                    left: -100px;
                }
            }

            &-2 {
                top: 180px;
                right: 350px;

                @media (max-width: 600px) {
                    top: 150px;
                    left: -20px;
                }

                @media (max-width: 425px) {
                    left: -40px;
                    top: 20px;
                    scale: 0.6;
                }
            }

            &-3 {
                right: 60px;
                top: 180px;

                @media (max-width: 600px) {
                    right: 10px;
                    top: 150px;
                }

                @media (max-width: 425px) {
                    top: 0;
                    right: -20px;
                    scale: 0.6;
                }
            }

            &-4 {
                bottom: 10px;
                right: 330px;

                @media (max-width: 600px) {
                    bottom: 50px;
                    right: 250px;
                }

                @media (max-width: 425px) {
                    bottom: 90px;
                    right: 120px;
                    scale: 0.6;
                }
            }

            &-5 {
                right: 220px;
                bottom: 110px;

                @media (max-width: 600px) {
                    right: 130px;
                    bottom: 120px;
                }

                @media (max-width: 425px) {
                    bottom: 170px;
                    right: 80px;
                    scale: 0.6;
                }
            }

            &-6 {
                right: 510px;
                bottom: 150px;

                @media (max-width: 600px) {
                    display: none;
                }
            }

            &-7 {
                right: 0;
                bottom: 0;

                @media (max-width: 425px) {
                    bottom: 10px;
                    right: -80px;
                    z-index: -1;
                }
            }

            @media (max-width: 600px) {
                scale: 0.9;
            }

            @media (max-width: 600px) {
                scale: 0.7;
            }
        }

        @media (max-width: 1325px) {
            top: 170px;
        }

        @media (max-width: 1024px) {
            top: 0px;
        }

        @media (max-width: 768px) {
            overflow: hidden;
        }

        @media (max-width: 600px) {
            height: 450px;
        }

        @media (max-width: 425px) {
            height: 350px;
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
    }

    @media (max-width: 990px) {
        padding-top: 200px;
    }

    @media (max-width: 768px) {
        padding-top: 0px;
    }
}

.QRcode__nightlife {
    @extend %container;
    position: relative;
    text-align: end;
    bottom: -60px;
    z-index: 10;

    @media (max-width: 768px) {
        width: 100%;
        position: relative;
        bottom: -1000px;

        text-align: left;
    }

    @media (max-width: 425px) {
        width: 100%;
        position: relative;
        bottom: -750px;
        left: -50px;
        scale: 0.7;
        text-align: left;
    }
}

.QRcode__background {
    width: 100%;
    display: flex;
    position: relative;

    &_shadow {
        position: absolute;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 1) 100%
        );
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 0;
        height: 100%;
    }

    &_image-1 {
        width: 55%;

        @media (max-width: 768px) {
            width: 100%;
            z-index: -1;
        }
    }

    &_image-2 {
        width: 45%;

        @media (max-width: 768px) {
            width: 100%;
            padding-top: 300px;
            z-index: -1;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        z-index: -1;
    }
}

.QRcode__content {
    @extend %container;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -50px;
    width: 100%;

    &_text {
        &-title {
            @extend %title;
        }

        &-info {
            width: 315px;
            @extend %text;
            padding-top: 15px;

            @media (max-width: 880px) {
                width: 80%;
            }

            @media (max-width: 425px) {
                width: 100%;
            }
        }

        &-button {
            display: flex;
            gap: 30px;
            padding-top: 40px;
            cursor: pointer;

            @media (max-width: 425px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: calc(100% / 12 * 6);
                margin: auto;
            }
        }

        @media (max-width: 1024px) {
            scale: 0.9;
        }

        @media (max-width: 880px) {
            position: absolute;
            top: 10px;
            z-index: 40;
        }

        @media (max-width: 768px) {
            top: -950px;
        }

        @media (max-width: 700px) {
            top: -900px;
        }

        @media (max-width: 600px) {
            top: -800px;
        }

        @media (max-width: 510px) {
            top: -750px;
        }

        @media (max-width: 425px) {
            top: -650px;
        }
    }

    &_image {
        display: flex;
        position: relative;

        &-1 {
            position: absolute;
            right: 370px;
            bottom: 300px;

            @media (max-width: 880px) {
                position: static;
            }
        }

        @media (max-width: 1150px) {
            scale: 0.9;
        }

        @media (max-width: 1065px) {
            scale: 0.8;
        }

        @media (max-width: 1024px) {
            scale: 0.7;
        }

        @media (max-width: 940px) {
            scale: 0.6;
        }

        @media (max-width: 880px) {
            justify-content: center;
            scale: 0.8;
            padding-top: 300px;
            width: 100%;
            gap: 50px;
        }

        @media (max-width: 768px) {
            justify-content: center;
            scale: 0.8;
            position: relative;
            bottom: 80px;
            width: 100%;
            gap: 50px;
        }

        @media (max-width: 700px) {
            scale: 0.7;
            bottom: 100px;
        }

        @media (max-width: 600px) {
            bottom: 120px;
            gap: 50px;
            scale: 0.6;
        }

        @media (max-width: 500px) {
            bottom: 170px;
            gap: 50px;
            scale: 0.5;
        }

        @media (max-width: 425px) {
            flex-direction: column;
            gap: 40px;
            scale: 0.7;
            top: -300px;
        }
    }

    @media (max-width: 880px) {
        flex-direction: column;
        box-sizing: border-box;
    }
}

.generate-QRcode {
    background-image: url(/images/background-notab-2.png);
    background-size: cover;
    background-position: center;
    margin: 100px 0;

    &__content {
        @extend %container;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;

        &_shadow {
            width: 1022px;
            height: 952px;
            position: absolute;
            background: linear-gradient(
                12.08deg,
                #f101bd21 2.82%,
                #0066ff21 97.06%
            );
            filter: blur(200px);
            border-radius: 476.034px;
            transform: rotate(-0.55deg);
            z-index: -1;

            @media (max-width: 425px) {
                width: 400px;
                height: 200px;
                top: 140px;
            }
        }

        &_image {
            position: relative;

            @media (max-width: 1024px) {
                scale: 0.8;
                top: -150px;
            }

            @media (max-width: 768px) {
                scale: 0.7;
                position: relative;
                top: -180px;
            }

            @media (max-width: 425px) {
                scale: 0.6;
                position: relative;
                top: -80px;
            }
        }

        &_scan {
            display: flex;
            align-items: flex-end;
            gap: 10px;

            position: absolute;
            right: 270px;
            top: 250px;

            &-arrow {
                @media (max-width: 768px) {
                    rotate: 45deg;
                    position: absolute;
                    right: 20px;
                }
            }

            &-text {
                font-family: $font-family-1;
                font-weight: 700;
                font-size: 21px;
                line-height: 26px;
                position: relative;
                top: 40px;
                left: -20px;

                @media (max-width: 768px) {
                    position: relative;
                    top: 70px;
                    left: -50px;
                }
            }

            @media (max-width: 1024px) {
                right: 50px;
                top: 250px;
            }

            @media (max-width: 900px) {
                right: 0px;
                top: 250px;
            }

            @media (max-width: 768px) {
                right: -50px;
                top: 350px;
            }

            @media (max-width: 425px) {
                right: 0;
                top: 450px;
            }
        }

        @media (max-width: 425px) {
            top: -200px;
        }
    }

    &__text {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_title {
            @extend %title;
            width: 380px;

            @media (max-width: 768px) {
                width: 80%;
            }

            @media (max-width: 425px) {
                width: 100%;
            }
        }

        &_info {
            @extend %text;
            width: 292px;

            @media (max-width: 768px) {
                width: 80%;
                padding-top: 20px;
            }

            @media (max-width: 425px) {
                width: 100%;
            }
        }

        @media (max-width: 768px) {
            position: relative;
            top: -700px;
            flex-direction: column;
            align-items: flex-start;
        }

        @media (max-width: 600px) {
            top: -800px;
        }

        @media (max-width: 425px) {
            top: -750px;
        }
    }

    @media (max-width: 1024px) {
        height: 400px;
    }

    @media (max-width: 768px) {
        height: 300px;
        display: flex;
        flex-direction: column;
        margin: 150px 0;
        position: relative;
        top: 50px;
    }

    @media (max-width: 600px) {
        top: -100px;
    }

    @media (max-width: 425px) {
        height: 150px;
        margin: 70px 0;
        top: -200px;
    }
}

.ordering {
    @extend %container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    position: relative;

    &__text {
        display: flex;
        flex-direction: column;
        align-self: flex-end;

        &_title {
            @extend %title;
        }

        &_info {
            @extend %text;
            padding-top: 20px;
        }

        @media (max-width: 768px) {
            align-self: start;
            padding-bottom: 20px;
        }
    }

    &__image {
        position: relative;

        &_longscroll {
            @media (max-width: 1024px) {
                width: 100%;
                padding-top: 50px;
            }
            @media (max-width: 768px) {
                width: 100%;
                padding-top: 120px;
            }
        }

        &_box {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-text {
                font-family: $font-family-1;
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
                border: 1px solid $color-white;
                border-radius: 10px;
                background-color: $color-black;

                @media (max-width: 768px) {
                    font-size: 14px;
                    line-height: 16px;
                }
            }

            &-text-1 {
                align-self: flex-end;
                width: 265px;
                padding: 23px 22px;

                @media (max-width: 1024px) {
                    width: 30%;
                }

                @media (max-width: 768px) {
                    padding: 13px 15px;
                }

                @media (max-width: 425px) {
                    width: 45%;
                }
            }

            &-text-2 {
                width: 265px;
                padding: 30px 26px;

                @media (max-width: 1024px) {
                    width: 30%;
                }

                @media (max-width: 768px) {
                    padding: 13px 15px;
                }

                @media (max-width: 425px) {
                    width: 45%;
                }
            }

            &-text-3 {
                align-self: flex-end;
                width: 185px;
                padding: 18px 23px;

                @media (max-width: 1024px) {
                    width: 30%;
                }

                @media (max-width: 425px) {
                    width: 45%;
                }
            }

            &-text-4 {
                width: 175px;
                padding: 19px 25px;

                @media (max-width: 1024px) {
                    width: 30%;
                }

                @media (max-width: 425px) {
                    width: 35%;
                }
            }

            @media (max-width: 768px) {
                gap: 20px;
                flex-direction: column-reverse;
            }
        }

        &_box-1 {
            top: 270px;
            left: -60px;
            width: 100%;

            @media (max-width: 1024px) {
                top: 300px;
                left: 0px;
            }

            @media (max-width: 768px) {
                top: 80px;
                left: 0;
            }

            @media (max-width: 700px) {
                top: 40px;
            }

            @media (max-width: 425px) {
                top: 10px;
            }
        }

        &_box-2 {
            bottom: 250px;
            left: 150px;
            width: 90%;

            @media (max-width: 1024px) {
                top: 700px;
                left: 0;
                width: 100%;
            }

            @media (max-width: 768px) {
                top: 800px;
                left: 0;
                width: 100%;
            }

            @media (max-width: 700px) {
                top: 750px;
            }

            @media (max-width: 600px) {
                top: 650px;
            }

            @media (max-width: 500px) {
                top: 580px;
            }

            @media (max-width: 425px) {
                top: 620px;
            }
        }

        @media (max-width: 425px) {
            height: 700px;
        }
    }

    &__shadow {
        width: 287px;
        height: 267px;
        @extend %shadow;
        position: absolute;
        right: -100px;
        top: 300px;
        z-index: -1;
    }

    @media (max-width: 768px) {
        overflow-x: hidden;
        padding-top: 0px;
    }

    @media (max-width: 425px) {
        padding-top: 0px;
    }
}

.notab {
    background-image: url(/images/background-notab-1.png);
    height: 1100px;

    &__phone {
        @extend %container;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &_image {
            position: relative;

            &-screenshot {
                position: absolute;
                top: 25px;
                left: 95px;
            }

            @media (max-width: 1024px) {
                scale: 0.7;
            }
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.connection {
    @extend %container;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__title {
        @extend %title;
    }

    &__text {
        @extend %text;
        padding-top: 25px;
        width: 580px;
        text-align: center;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__shadow {
        position: absolute;
        @extend %shadow;
    }

    &__shadow-1 {
        top: -100px;
        left: 400px;
        width: 250px;
        height: 250px;

        @media (max-width: 425px) {
            left: 0;
            top: 0;
        }
    }

    &__shadow-2 {
        right: -50px;
        bottom: 150px;
        width: 340px;
        height: 340px;

        @media (max-width: 425px) {
            display: none;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 23px;
        padding: 50px 0;
        width: calc(100% / 12 * 8);
        position: relative;

        .connection__shadow-2 {
            right: -50px;
            bottom: 150px;
            width: 340px;
            height: 340px;
        }

        &_input {
            width: 100%;
            @extend %text;
            padding: 29px 0px;
            text-indent: 23px;
            outline: none;
            border: none;
            border-radius: 10px;
            color: #bfbfbf;

            &:invalid:focus {
                border: 2px solid #ff0000;
            }

            &:valid {
                border: none;
            }

            @media (max-width: 425px) {
                padding: 18px 0;
            }
        }

        &_message {
            height: 200px;
        }

        &_city {
            display: flex;
            width: 100%;
            gap: 23px;

            @media (max-width: 768px) {
                flex-direction: column;
            }
        }

        &_button {
            font-family: $font-family-1;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            border: 1px solid $color-white;
            border-radius: 10px;
            width: calc(100% / 12 * 4);
            padding: 25px;
            margin: 30px 0;
            background-color: $color-black;
            color: $color-white;
            cursor: pointer;

            &:hover {
                background-color: $color-white;
                color: $color-black;
                transition: 1s;
            }

            @media (max-width: 1024px) {
                width: 100%;
            }

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        @media (max-width: 768px) {
            width: 80%;
        }

        @media (max-width: 500px) {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        padding-top: 50px;
    }

    @media (max-width: 425px) {
        padding-top: 100px;
    }
}

.download {
    @extend %container;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-family: $font-family-1;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        padding-bottom: 50px;
    }

    &__button {
        cursor: pointer;
        display: flex;
        gap: 30px;
        scale: 1.5;

        @media (max-width: 768px) {
            scale: 1;
        }

        @media (max-width: 425px) {
            flex-direction: column;
        }
    }

    @media (max-width: 768px) {
        padding-top: 50px;
    }

    @media (max-width: 425px) {
        padding-bottom: 50px;
    }
}

.footer {
    @extend %container;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__info {
        padding-top: 120px;
        font-family: $font-family-1;
        font-size: 18px;
        line-height: 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;

        &_logo {
            font-size: 20px;
            font-weight: 900;
        }

        &_contact {
            font-weight: 500;
            width: 170px;

            @media (max-width: 425px) {
                width: 100%;
            }
        }

        &_text {
            font-weight: 600;
        }

        &_link {
            cursor: pointer;
            text-align: end;

            &:hover {
                text-decoration: underline;
            }

            @media (max-width: 425px) {
                text-align: center;
            }
        }

        @media (max-width: 425px) {
            width: 100%;
            text-align: center;
            padding-top: 50px;
            gap: 15px;
        }
    }

    &__shadow {
        position: absolute;
        left: -70px;
        bottom: -70px;
        width: 400px;
        height: 400px;
        @extend %shadow;
        z-index: -1;
    }

    @media (max-width: 425px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}
